.header {
  margin: 0 auto;
  padding-top: 28px;
  max-width: calc(100% - 48px*2);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

@media screen and (max-width: 768px) {
  .header {
    max-width: calc(100% - 24px*2);
  }
}

@media screen and (max-width: 425px) {
  .header {
    padding-top: 16px;
    max-width: calc(100% - 16px*2);
  }
}
