.lead__title {
  margin: 0;
  width: 720px;
  height: 200px;
  font-family: 'Inter', serif;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  color: #FFF;
}

@media screen and (max-width: 425px) {
  .lead__title {
    width: 288px;
    height: 88px;
    font-size: 40px;
    line-height: 44px;
  }
}
