.place__paragraph:last-of-type {
  padding-bottom: 0;
}

.place__paragraph {
  margin: 0;
  padding-bottom: 26px;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  grid-row: 2;
}

@media screen and (max-width: 1200px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 150%;
  }
}

@media screen and (max-width: 1024px) {
  .place__paragraph {
    padding-bottom: 27px;
    font-size: 18px;
    line-height: 163%;
  }
}

@media screen and (max-width: 1000px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 150%;
  }
}

@media screen and (max-width: 768px) {
  .place__paragraph {
    padding-bottom: 25px;
    font-size: 16px;
    line-height: 163%;
  }
}

@media screen and (max-width: 606px) {
  .place__paragraph {
    padding: 0 16px 25px;
    font-size: 16px;
    line-height: 163%;
  }
}
