.intro {
  margin: 0 auto;
  padding-top: 92px;
  max-width: calc(100% - 148px*2);
  text-align: left;
}

@media screen and (max-width: 1024px) {
  .intro {
    max-width: calc(100% - 48px*2);
  }
}

@media screen and (max-width: 768px) {
  .intro {
    padding-top: 88px;
    max-width: calc(100% - 24px*2);
  }
}

@media screen and (max-width: 425px) {
  .intro {
    padding-top: 64px;
    max-width: 100%;
  }
}
