.intro {
  margin: 0 auto;
  padding-top: 92px;
  max-width: 984px;
  width: 100%;
  text-align: left
}

@media  screen and (max-width: 1024px) {
  .intro {
    max-width: 928px;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    max-width: 720px;
    padding-top: 88px;
  }
}

@media screen and (max-width: 425px) {
  .intro {
    max-width: 288px;
    padding-top: 64px;
  }
}
