.place__link:hover {
  opacity: .8;
}

.place__link {
  margin: 0;
  padding-top: 12px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  color: inherit;
  cursor: pointer;
  transition: opacity .3s ease;
}
