.footer {
  margin: 0 auto;
  padding: 92px 0 24px;
  max-width: calc(100% - 48px*2);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 1024px) {
  .footer {
    padding-right: 48px;
    padding-left: 48px;
    max-width: calc(100% - 24px*2);
  }
}

@media screen and (max-width: 768px) {
  .footer {
    padding-right: 24px;
    padding-left: 24px;
  }
}

@media screen and (max-width: 700px) {
  .footer {
    padding-top: 64px;
    padding-right: 0;
    padding-left: 16px;
    max-width: calc(100% - 16px*2);
    flex-wrap: wrap;
    gap: 48px;
  }
}

@media screen and (max-width: 500px) {
  .footer {
    flex-direction: column;
    align-items: flex-start;
  }
}
