.place__item:last-of-type {
  padding: 0;
}

.place__item {
  padding-bottom: 80px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(460px, 1fr));
  row-gap: 48px;
  column-gap: 40px;
}

@media screen and (max-width: 1200px) {
  .place__item {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    column-gap: 32px;
  }
}

@media screen and (max-width: 1024px) {
  .place__item {
    grid-template-columns: repeat(auto-fit, minmax(440px, 1fr));
    column-gap: 32px;
  }
}

@media screen and (max-width: 1000px) {
  .place__item {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    column-gap: 28px;
  }
}

@media screen and (max-width: 768px) {
  .place__item {
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    column-gap: 28px;
  }
}

@media screen and (max-width: 740px) {
  .place__item {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    column-gap: 24px;
  }
}

@media screen and (max-width: 606px) {
  .place__item {
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    row-gap: 32px;
  }
}
